.footer {
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    padding: 15px;
    font-family: sans-serif;
    background-color: #fff;
}